$main-colour: #61dafb;

body {
	margin: 0;
	padding: 0;
}

.App {
	text-align: center;

	&-logo {
		height: 80px;
		width: auto;
		animation: App-logo-spin 1s ease-out;
	}
	
	&-header {
		background-color: #282c34;
		height: 150px;
		padding: 20px;
		color: #fff;
	}
	
	&-intro {
		font-size: large;
	}
}

code {
	color: darken($main-colour, 20%);
}

@keyframes App-logo-spin {
	0% { transform: scale(1); }
	25% { transform: scale(1.1); }
	50% { transform: scale(.9); }
	100% { transform: scale(1); }
}